.jumbotron{
  font-family: Fredericka the Great;
  text-align: center;
}


body {
  list-style: none;
  font-family: Averia Serif Libre;
  text-align: center;
}

#showForm, #checkoutButton, #customerDetailsForm, #customerOrder{
  display: none;
}


.btn-xl{
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  width:100%;
}
