.jumbotron, h1, h2 {
  font-family: Fredericka the Great;

}

body {

  list-style: none;
  font-family: Averia Serif Libre;
}

#showForm, #checkoutButton, #customerDetailsForm, #orderDisplay{
  display: none;
}

.displayPizzaClass{
  color: orange;
  /*font-family: Shadows Into Light;*/
}

.displayTotalClass{

}


.btn-xl{
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  width:100%;
}
