body {
  font-family: Fredericka the Great;
  text-align: center;
  list-style: none;
}

#showForm, #checkoutButton, #customerDetailsForm, #orderDisplay{
  display: none;
}

.displayPizza{
  list-style: none;
  color: blue;
  font-size: 2em;
  /*font-family: Shadows Into Light;*/
}


.btn-xl{
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  width:50%;
}
